---
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "astro:assets";
import localHeroImage from "../assets/images/main-hero.jpeg";
import localRetroImage from "../assets/images/retro-oruga.jpeg";
import localRetroLlantasImage from "../assets/images/retro-llantas.jpeg";
import localCargadorFrontalImage from "../assets/images/cargador-frontal.jpeg";
import localMiniCargadorImage from "../assets/images/mini-cargador.jpeg";
import Card from "../components/Card.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
---

<Layout title="Cursos de maquinaria pesada | CEMAQUI">
  <main class="w-auto md:w-3/4 m-auto p-2">
    <h1
      class="text-2xl lg:text-4xl text-center text-white uppercase font-bold animate-fade-down"
    >
      Todo lo que necesitas para formarte como un operador de <span
        class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
        >Maquinaria Pesada</span
      >
    </h1>
    <p class="text-white text-base text-center p-3 mb-5 leading-6">
      Si estas interesado en aplicar a diversos trabajos del sector construcción
      este programa es para ti. <span class="hidden sm:inline-block"
        >El centro de enseñanza para operadores de maquinaria pesada con + 10
        años de experiencia te llevara de cero a ser un operador completamente
        capacitado</span
      >
    </p>
    <section id="hero" class="mb-4">
      <div class="w-full">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6">
          <div>
            <Image
              src={localHeroImage}
              alt="retroexcavadora cursos en bogotá y cundinamarca"
              class="rounded-md animate-fade-down"
              loading="eager"
              widths={[240, 480, 720, localHeroImage.width]}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 480px, (max-width: 1600px) 720px, ${localHeroImage.width}px`}
              quality={70}
            />
          </div>
          <div class="flex flex-col justify-evenly animate-fade-left">
            <h2
              class="text-primary text-center font-bold uppercase text-lg md:text-2xl mb-3 leading-6"
            >
              ¿Que beneficios tendras al elegir nuestro programa?
            </h2>
            <div>
              <ul class="text-white list-circle p-5 animate-fade-up">
                <li class="text-left mb-4">
                  Certificado como operador multiple en (retro de llantas, retro
                  de oruga, cargador frontal y mini-cargador).
                </li>
                <li class="text-left mb-4">
                  Realizaras las practicas en campo real con maquinaria real.
                </li>
                <li class="text-left mb-4">
                  Programa personalizado (la maquinaria y el instructor estarán
                  disponibles solo para ti en el proceso).
                </li>
                <li class="text-left mb-4">
                  Programa intensivo (la duración del programa es de 8 dias con
                  una intensidad diaria de 8 horas practicas).
                </li>
                <li class="text-left mb-4">
                  Recibirás carnet y certificado legal que te acredita como
                  operador (se podra validar y descargar en nuestro sitio web).
                </li>
              </ul>
            </div>
            <WhatsappButton className="animation-bounce" />
          </div>
        </div>
      </div>
    </section>
    <section id="cursos" class="mb-4">
      <h2
        class="text-primary text-center text-lg md:text-3xl uppercase font-bold leading-6"
      >
        ¿Necesitas especializarte en una sola maquina?
      </h2>
      <p
        class="w-full text-white text-center text-base md:text-lg p-3 font-medium mb-4"
      >
        Si estas interesado en especializarte en una sola maquina, tenemos
        cursos especializados en:
      </p>
      <div class="grid md:grid-cols-2 gap-3">
        <Card
          title="Retroexcavadora de llantas"
          image={localRetroLlantasImage}
          altImg="retroexcavadora de llantas"
          body="Curso especializado en retroexcavadora de llantas en bogotá y cundinamarca con maquinaria real y practicas en campo real."
        />
        <Card
          title="Retroexcavadora de oruga"
          image={localRetroImage}
          altImg="retroexcavadora de oruga"
          body="Curso especializado en retroexcavadora de oruga en bogotá y cundinamarca con maquinaria real y practicas en campo real."
        />
        <Card
          title="Cargador frontal"
          image={localCargadorFrontalImage}
          altImg="cargador frontal"
          body="Curso especializado en cargador frontal en bogotá y cundinamarca con maquinaria real y practicas en campo real."
        />
        <Card
          title="Mini-cargador"
          image={localMiniCargadorImage}
          altImg="mini-cargador"
          body="Curso especializado en mini-cargador en bogotá y cundinamarca con maquinaria real y practicas en campo real."
        />
      </div>
    </section>
    <section id="contacto">
      <h2
        class="text-primary text-center font-bold uppercase text-lg md:text-2xl mb-3 leading-6"
      >
        ¿Listo para comenzar?
      </h2>
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-6">
        <div>
          <p
            class="text-white text-center text-base md:text-lg p-3 font-medium mb-4"
          >
            Si estas interesado en aplicar a nuestros programas de formación, no
            dudes en contactarnos.
          </p>
        </div>
        <WhatsappButton className="pulse" />
      </div>
    </section>
    <p class="text-white text-center p-3">
      CEMAQUI © 2024 Todos los derechos reservados.
    </p>
  </main>
</Layout>
