---
import { Image } from "astro:assets";
interface Props {
  title: string;
  body: string;
  image: ImageMetadata;
  altImg: string;
}

const { title, image, body, altImg } = Astro.props;
---

<div class="p-1 aspect-auto">
  <div>
    <h3
      class="text-primary text-center text-xl md:text-2xl p-3 mb-2 font-semibold animate-fade-down"
    >
      {title}
    </h3>
    <Image
      src={image}
      alt={altImg}
      class="rounded-lg animate-fade-up"
      loading="lazy"
      widths={[240, 480, 720, image.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 480px, (max-width: 1600px) 720px, ${image.width}px`}
      quality={70}
    />
    <p class="text-white text-center p-3 text-sm md:text-lg opacity-80">
      {body}
    </p>
  </div>
</div>
